tqdm
numpy
torch==2.3.1
transformers>=4.45.2
accelerate>=0.30
datasets>=2.18
peft>=0.12.0
bitsandbytes>=0.43.0
trl==0.8.6
sentencepiece
pandas>=2.0.0
safetensors>=0.4.2
huggingface_hub>=0.24.0
scikit-learn>=1.2.0
einops>=0.6.0
matplotlib